*{  margin: 0;
    padding:0;
} 
body{
    background-color: rgb(4, 15, 20);
    font-family: "Trirong", serif;
}
.container{
    background-color: rgb(163, 185, 185);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.image{
    width:100px ;
    height:120px ;
    border: 3px solid wheat;
    border-radius:50%;
    float:left;

}
.bio{
    float: left;
    padding: 30px;

}
.mio{
    float: right;
    padding:30px;
}
h1,h2,h3,h4,h5{
    color:rgb(1, 6, 17);
}

.mio a{
    text-decoration: none;
    color:rgb(1, 6, 17);
    font-weight:bold;
}
.mio a:hover{
    text-decoration: underline;
    color:red
}
div-clear{
    clear:both;
}

hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom:none;
}
#content{
  
}
.content{
      margin-bottom: 30px;
}
.left-div{
   width: 30%;
   float:left;
}
.right-div{
    width:70%;
    float: right;
}
.comon-hr{
    border: 1px solid black ;
    border-bottom: none;
    width: 100%;
    margin:20 auto;
}

#key-skill{

}
#work-section{

}
.edu-template-left{
    float:left;
     width: 45%;
}

.edu-template-right{
    float:right ;
     width: 45%;
}
.light{ 
    background-color: black;
    text-align: center;
    padding: 10px;
}
.light a{
    color:bisque;
    text-decoration: none;
    margin: 20px;

}
.light p{
    color:bisque;
    text-decoration: none;
    margin:20px;
}